{% extends "project/login_layout.html" %}

{% block body %}

<div class="container">

    <h2 style="text-align: center; margin-top: 3%; color: rebeccapurple;">About</h2>
    <p> It is an initiative started by Sarvagya Agrawal, a student of Netaji Subhas University Of Technology, Delhi. The aim is to serve the people of out country in this second wave of COVID-19 when people are struggling to get the oxygen, plasma for their recovery. We urge everyone to get VACCINATED as early as possible so that we can bring down the numbers and flatten the curve of this infectious disease. This platform provides essential lists of plasma donors, oxygen suppliers and can be used by patients if they have requirement of something. We would appreciate if you please use this platform appropiately and help us in providing the authentic and verified information so that it can be used by the patients efficienlty whenever needed. We would like to have suggestions for the improvement by contacting us  </p>

    <p>We would request you to stay home and follow COVUD guidelines evrytime you go out of your home. Avoid public gatheings and wash your hands periodically.</p>

    <h3 style="color: red;">Stay well! Take care of yourself and your family. </h3>
</div>

{% endblock %}