{% extends "project/login_layout.html" %}

{% block body %}

<div class="container" style="background-color: wheat;">

        <h2 style="color: seagreen; margin-top: 2%; margin-right: 6%;">CONTACT US</h2>
        <h5 style="color: sienna; padding: 2%;"> Please fill out the form below. We will try to resolve your query as soon as possible.</h5>

        <iframe class="container" src="https://docs.google.com/forms/d/e/1FAIpQLSdcYUbZ5YLx2mTja5UBv8ZCgjb4AdbeAEKCSpBgngQ4xn21hQ/viewform?embedded=true" width="640" height="1360" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>

{% endblock %}