{% extends "project/login_layout.html" %}

{% block body %}
<br>
<h2 style="color: brown;">FAQs </h2>
<br>

 <div class="container" class="accordion accordion-flush">
    <ol> 
        <h5><li style="font-weight: bold;"> Is this an official or Government of India approved website?</li></h5>
        <p>No, it is an initiative taken by the individual in the interest of the public welfare.</p>
        <h5><li style="font-weight: bold;"> What is the source of data displayed on this website?</li></h5>
        <p> The data is directly entered by the users or people who visit the website.We urge all to enter only authentic data and DO NOT misuse this platform. The correct data can save many lives in this tough situation.</p>    
        
        <h5><li style="font-weight: bold;">I entered the incorrect data and submit it. How can I change/delete my entry?</li></h5>
        <p>Once submitted the form, you can not change it. In such cases, write to us immediately by filling out form in Contact Us in the navigation bar.</p>
        
        <h5><li style="font-weight: bold;">Oxygen suppliers or plasma donors given in the list are not authentic. Whom should I complain? </li></h5>
        <p>In such a case, we would like you to inform us by filling out form in 'Contact Us' </p>

        <h5><li style="font-weight: bold;">How should I fill a form if I am a Plasma Donor/Oxygen Supplier/Patient?</li></h5>
        <p>It is easy and requires only 2 steps:
            <ul>
                <li>If you've already registered: Click on 'Login'/ 'Home' in navigation bar, enter your username and passowrd. You will be taken to dashboard where you can fill out your form as per your role/requirement.</li>
                <li>New Registration: If you have not logged in before, register yourself by providing username, email id, password. Then you will be taken to a dahboard where you can fill out the form as per your role.</li>
                <h6 style="color: red;">Once you have filled and submit it, please log out. Your entery will be displayed on the list (based on patient/oxygen supplier/plasma donor) as soon as you submit your form.</h6>
            </ul>
        </p>

        <h5><li style="font-weight: bold;">If your question is not listed above/ still have doubts, please read the Guide or contact us.</li></h5>
    </ol>    
 
</div>



{% endblock %}